#page {
	width: 1024px;
	margin: auto;
}
header {
	background-color:#808000;
	text-align: center;
}
section>h3 {
	text-align: left;
	font-family: 'Courier New', Courier, monospace;
}
section>ul {
    list-style: none;
	padding:5px;
	font-style: italic;
}
section>b {
	display: flex;
	padding: 5px;
}
section {
    background-color:#dddddd;
    height:400px;
    width:30%;
    float:left;
	padding:5px;        
}
aside {
    background-color:#eeeeee;
    height:400px;
    width:68%;
    float:left;
    padding:5px;    
}
aside>ol {
	margin-top:15px;
	font-weight: bold;
}
footer {
    background-color:#808000;
    clear:both;
    text-align:center;
    padding:5px;    
}
